---
layout: landing
---

        <!-- Cover Section -->
        <section class="home-cover clearfix">
            <div class="cover-rellax-scene">
                <img class="rellax cover-bracket-purple" data-rellax-speed="-2" src="/img/bracket-purple.svg"/>
                <img class="rellax cover-parenthese-blue" data-rellax-speed="-3" src="/img/parenthese-blue.svg"/>
                <!--<img class="rellax cover-hexagone-green" data-rellax-speed="2" src="/img/hexagone-green.svg"/>
                <img class="rellax cover-hexagone-lightblue" data-rellax-speed="-6" src="/img/hexagone-lightblue.svg"/>-->
                <img class="rellax cover-parenthese-green" data-rellax-speed="6" src="/img/parenthese-green.svg"/>
                <img class="rellax cover-colon-purple" data-rellax-speed="10" src="/img/colon-purple.svg"/>
                <!--<img class="rellax cover-circle-darkblue" data-rellax-speed="10" src="/img/circle-darkblue.svg"/>-->
            </div>
            <div id="parallax-scene" class="parallax-container">
                <img class="layer" data-depth="0.75" src="/img/cover-back.svg"/>
                <img class="layer" data-depth="1" src="/img/cover-middle.svg"/>
                <img class="layer" data-depth="1.5" src="/img/cover-front.svg"/>
            </div>
        </section>
        <div class="clearfix"></div>
        <!-- End Cover Section -->
        <!-- Presentation Section -->
        <section id="presentation" class="presentation clearfix">
            <div class="presentation-rellax-scene">
                <!--<img class="rellax pres-quote-purple" data-rellax-speed="6" src="/img/quote-purple.svg"/>
                <img class="rellax pres-hexagone-lightpurple" data-rellax-speed="2" src="/img/hexagone-light-purple.svg"/>-->
                <img class="rellax pres-colon-lightgreen" data-rellax-speed="-4" src="/img/colon-lightgreen.svg"/>
                <img class="rellax pres-bracket-lightblue" data-rellax-speed="10" src="/img/bracket-lightblue.svg"/>
            </div>
            <div class="line-wrapper clearfix">
                <div class="container">
                    <h1>The Clojure Community in Paris</h1>
                    <div class="text-space"></div>
                    <p>
                    If you are interested in Clojure, Lisp and functional programming come and join us! We meet every month to learn and share knowledge and experience.
                    </p>
                    <div class="big-text-space"></div>
                    <div class="presentation-links">
                        <a href="http://www.meetup.com/fr-FR/Paris-Clojure-User-Group/">Join us on meetup</a>
                        <a href="https://twitter.com/clojureparis">Follow us on twitter</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        <!-- End Presentation Section -->
        <div class="divider">
            <img class="rellax" data-rellax-speed="8" src="/img/divide.svg"/>
        </div>
        <!-- Date Section -->
        <section id="dates" class="content clearfix" itemscope itemtype="http://schema.org/Event">
            <div class="line-wrapper clearfix">
                <div class="container">
                    <div class="big-text-space"></div>
                    <h1 itemprop="name">Next Paris Clojure Meetup</h1>
                </div>
            </div>
            <pre>
<code>
<span class="lightBlue">(</span><span class="blue">def</span> meetup
<span class="purple">{</span><span class="lightPurple">:date</span> <span class="lightGreen" itemprop="startDate" itemtype="http://schema.org/Date" >“July 2nd 2019”</span>
<span class="lightPurple">:location</span> <span class="lightGreen" itemprop="location" itemscope itemtype="http://schema.org/Place">“Adikteev - 35 Avenue de l'Opéra - Paris 9eme”</span>
<span class="lightPurple">:speaker</span> <span class="lightGreen" itemprop="performer" itemtype="http://schema.org/Person">“Various Speaker”</span>
<span class="lightPurple">:subject</span> <span class="lightGreen" itemprop="description">"3D printing and Clojure project launch"</span>
<span class="lightPurple">:organizers</span> <span class="lightGreen" itemprop="organizer" itemtype="http://schema.org/Person">“Hiram Madelaine”</span>
<span class="lightGreen" itemprop="organizer" itemtype="http://schema.org/Person">“Jérémie Grodziski”</span><span class="purple">}</span><span class="lightBlue">)</span>
<span class="lightGreen" itemprop="organizer" itemtype="http://schema.org/Person">“Valentin Waeselynck”</span><span class="purple">}</span><span class="lightBlue">)</span>
</code>
            </pre>
            <div class="container clearfix">
                <a class="meetup-link" href="https://www.meetup.com/fr-FR/Paris-Clojure-User-Group/events/238743198/">Join on meetup.com</a>
                <div class="big-text-space"></div>
            </div>
        </section>
        <div class="divider small">
            <img class="rellax" data-rellax-speed="8" src="/img/divide.svg"/>
        </div>
        <section id="team" class="content clearfix">
            <div class="line-wrapper clearfix">
                <div class="container space-after clearfix">
                    <div class="big-text-space"></div>
                    <h1>Organizers</h1>
                    <div class="team-container clearfix">
                        <div class="avatar">
                            <img src="/img/hiram.png"/>
                        </div>
                        <div class="name" itemprop="name" itemtype="http://schema.org/Person">Hiram Madelaine</div>
                        <div class="mail">
                            <a href="mailto:hiram.madelaine@gmail.com">hiram.madelaine@gmail.com</a>
                        </div>
                        <div class="twitter">
                            <a target="_blank" href="https://twitter.com/hirammadelaine">@HiramMadelaine</a>
                        </div>
                    </div>
                    <div class="team-container">
                        <div class="avatar">
                            <img src="/img/jeremie.png"/>
                        </div>
                        <div class="name" itemprop="name" itemtype="http://schema.org/Person">Jérémie Grodziski</div>
                        <div class="mail">
                            <a href="mailto:jeremie@grodziski.com">jeremie@grodziski.com</a>
                        </div>
                        <div class="twitter">
                            <a target="_blank" href="https://twitter.com/jgrodziski">@jgrodziski</a>
                        </div>
                        <div class="twitter">
                            <a target="_blank" href="http://www.grodziski.com">www.grodziski.com</a>
                        </div>
                    </div>
                    <div class="team-container">
                        <div class="avatar">
                            <img src="/img/valentin.jpeg"/>
                        </div>
                        <div class="name" itemprop="name" itemtype="http://schema.org/Person">Valentin Waeselynck</div>
                        <div class="mail">
                            <a href="mailto:val.vvalval@gmail.com">val.vvalval@gmail.com</a>
                        </div>
                        <div class="twitter">
                            <a target="_blank" href="https://twitter.com/val_waeselynck">@val_waeselynck</a>
                        </div>
                        <div class="twitter">
                            <a target="_blank" href="https://vvvvalvalval.github.io/pages/about.html">vvvvalvalval.github.io</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        <div class="divider small">
            <img class="rellax" data-rellax-speed="8" src="/img/divide.svg"/>
        </div>
